<footer class="text-zinc-500 dark:text-zinc-400">
    <div class="border-t border-zinc-200 dark:border-zinc-800 pt-8 pb-4 mt-24">
      <p class="text-sm text-zinc-400 dark:text-zinc-600 leading-relaxed">
        <a
          href="https://www.youtube.com/watch?v=_QWcKjIKf0k"
          rel="noopener noreferrer"
          target="_blank"
          class="text-zinc-400 hover:text-sky-500 dark:text-zinc-500 dark:hover:text-sky-400 underline underline-offset-2 transition-colors">
          Why should I consider Christianity?</a>
      </p>
    </div>
    <div class="py-6 md:flex md:items-center md:justify-between">
        <div class="flex justify-center space-x-6 md:order-2">
            <a href="https://github.com/leandwo"
                class="p-1 text-zinc-400 hover:text-zinc-600 dark:text-zinc-600 dark:hover:text-zinc-400 transition-colors"><span
                    class="sr-only">GitHub</span><svg stroke="currentColor" fill="currentColor" stroke-width="0" role="img"
                    viewBox="0 0 24 24" class="h-5 w-5" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <title></title>
                    <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                    </path>
                </svg></a>
            <a href="mailto:hi@leandro.codes" class="p-1 text-zinc-400 hover:text-zinc-600 dark:text-zinc-600 dark:hover:text-zinc-400 transition-colors">
                <span class="sr-only">Email</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
            </a>
        </div>
        <div class="mt-8 md:order-1 md:mt-0">
            <span class="block text-center text-sm text-zinc-400 dark:text-zinc-600">© 2025 Leandro Solidum, All rights reserved.</span>
        </div>
    </div>
</footer>
